
.header-main {
    padding: 0 6%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-control {
    height: 10vh;
}

/* @media (min-width: 300px) and (max-width: 750px) {
    .header-main {
        padding: 0 95px;
    }
} */

